Prediction of LendingClub loan defaulters/loan_data.csv
Prediction of LendingClub loan defaulters/.ipynb_checkpoints
K Nearest Neighbors/README.md
K Nearest Neighbors/.ipynb_checkpoints
K Nearest Neighbors/KNN_Project_Data
Ecommerce Customers Project/Ecommerce Customers
Logistic Regression/.ipynb_checkpoints
Logistic Regression/advertising.csv
Support Vector Machines/.ipynb_checkpoints
Ecommerce Customers Project/.ipynb_checkpoints
Titanic Survival Prediction/.ipynb_checkpoints
Titanic Survival Prediction/titanic_train.csv