Decision Trees and Random Forests/loan_data.csv
Decision Trees and Random Forests/.ipynb_checkpoints
K Nearest Neighbors/README.md
K Nearest Neighbors/.ipynb_checkpoints
K Nearest Neighbors/KNN_Project_Data
Linear Regression/Ecommerce Customers
Logistic Regression/.ipynb_checkpoints
Logistic Regression/advertising.csv
Support Vector Machines/.ipynb_checkpoints
